/**
 * Custom Styles here.
 *
 * ref: https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

 
.theme-default-content img
  margin-left auto
  margin-right auto
  display block
  

a
  font-weight normal


h2, h3, h4
  /*color #964B29*/
  /*color: #42b983*/
  color #f07842
  
.theme-default-content:not(.custom) > h4
  padding-top 3.6rem 
  
svg|a:link, svg|a:visited
  cursor pointer

